@media (max-width: 760px) {

    
    h4 {
        font-size: 25px;
    }
    h5 {
        font-size: 20px;
    }

// HEADER SECTION//

    header {
        min-height: 100vh;
        min-width: 540px;
        background-size: cover;
        background-position: center;

        span {
            display: inline;
        }
        
    }
    
    nav {
        position: relative;
    }
    
    nav ul {
        visibility: hidden;
    }

    .hamburger {
        visibility: visible;
        color: $primaryTextColor;
        position: absolute;
        right: 5%;
        top: 50%;
        font-size: 50px;
        
    }
    .icons {
        visibility: hidden;
    }

// ABOUT SECTION//

    .gallery {
        
        ul {
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;

            li:first-child , 
            li:nth-child(2) {
                width: calc((100%/2) - 10px);
                margin: 0;
                
            }

            li:last-child {
                width: 100%;
                padding-bottom: 25px;
            }

        }
    }

        .imgContainer {
            display: none;
        }

        .aboutPanda {
            display: none;
        }

        

        .textContainer {
            margin: 0;
            display: flex;
            flex-direction: column;

            .aboutButton {
                    margin-left: 35%;
                    width: 200px;
                }

        }


    
    .pandaFlex {

        &:first-child{
            flex-direction: column-reverse;
            padding-bottom: 40px;
        }

        &:last-child{
            flex-direction: column;
            padding-bottom: 40px;
    
        }

        h2 {
            padding: 50px 0 20px 0;
        }

        .imgContainer {
            width: 100%;
            display: block;

            img {
                height: 300px;
                object-fit: cover;
            }
        }

        .pandaText {
            width: 100%;
            

            .textWrapper {
                    width: 100%;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        width: 90%;
                    }
                }
        }
   
        
    }

// DONATIONS SECTION//
    .donations {
        padding: 50px 0;
    }
    .iconFlex ul{
        flex-direction: column;
        align-items: center;

        li:nth-child(2) {
            padding: 40px 0;
        }

        li:first-child,
        li:last-child {
            padding: 0
        }
    }

// FOOTER SECTION//

    .footerFlex {
        flex-wrap: wrap;
        

        .email {
            text-align: center;
            margin: 0;

            h5 {
                margin: 20px 0;
            }
           

            button {
                display: block;
                margin: 15px 0 30px 36%;
                
                
            }
        }

        input {
            width: 100%;
        }
    
        input[type=text] {
            text-align: center;
            padding: 0;
        }

    }

}